/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    background-color: #1a1a1a; 
    color: white;
    height: 100vh;
}

/* LAYOUT */
.layout-container {
    display: flex;
    height: 100%;
}

.content-area {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}



/* MENU BAR */
.sidebar {
    width: 200px;
    background-color: #111;
    border-left: 1px solid #333; 
    padding-top: 50px; 
    padding-left: 20px;
    
    display: flex;
    flex-direction: column;
}

.nav-links {
    list-style: none;
    text-align: right; 
    padding-right: 20px;
}

.nav-links li {
    margin-bottom: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #888;
    font-size: 1.2rem;
    transition: 0.3s;
    display: block;
}

.nav-links a:hover, .nav-links a.active {
    color: white;
    padding-right: 10px; 
    border-right: 3px solid white; 
}


